
body{
    font-family: 'Lato', sans-serif;
}
/* Extra small devices Phones (<768px) .col-xs -->
<!-- Small devices Tablets (≥768px) .col-ms -->
<!-- Medium devices Desktops (≥992px) .col-md -->
<!-- Large devices Desktops (≥1200px) .col-lg -->
*/
/*Media queries*/

@media (max-width:768px){
    img{
        width:60px;
        height:60px;
        
     }
    h1{font-size: 27px;}
    h2{font-size: 21px;}
}
@media(min-width:1200px) and (max-width:1201px){
    
    img{
        width:120px;
        height:120px;
     }
}

/* Media Queries*/
p{
    margin-top: 0px;
    margin-right: 20px;    
    margin-bottom: 0px;
    margin-left: 0px;
    padding-top: 5px;
}

h1.loginCss{
    margin-left: 35%;
    margin-bottom: 30px;
}
a.aViewButtons{
    text-decoration: none;   
}
a.aLogout{

    text-decoration: none;
}
.panel-body{
    padding:0;

}
.panel-group{

    border-style: solid;
}
.row{

    margin-left: 0;
    margin-right: 0;

}
}
.navbar{
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0;

}
.navbar-default {

    background-color: #78ae4e;

}
.navbar-default .navbar-nav>li>a{

    color:black;
}
.page-header{
    margin-top: 0px;

}
.btn{
    border-radius: 0px;
    white-space: inherit;

}

.form-group{

    margin-bottom: 15px;
    margin-left: 20%;
    margin-right: 15%;
    margin-top:30px;
}
.form-control{
    display:inline;
    width: 50%;

}
label{
    display:inline;

}
#mainTitle{

    margin-top: 3%;
}
#myNavbar {
    margin-top: 20px;
}
.containerImg {
    margin-left: 80px;
}
.viewCV{

    display: flex;
    padding: 15px;
}
.container-fluid{

    padding-left:0px;
    margin-bottom: 20px;
    padding-right: 0;

}
#containerFluidView{

    padding-left:0px;
    margin-bottom: 17.9%;
    padding-right: 0;

}

#loginContainer{
    margin-top: 40px;
    text-align: center;

}
#loginFormContainer{
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    border-color: black;

}
#MainContainerFluid{

    padding-left:0;
    padding-right:0;
}
#ButtonsContainers{

    border-style: solid;
    margin-left: 25%;
    margin-top: 3%;
    margin-right: 25%;
    border-color: black;

}
#Title{
    /*margin-left: 20%;*/
    text-align: center;
}
#categoriesTitle{


    padding-bottom: 20px;
    text-align: center;
}
#viewTitle{

    padding-bottom: 20px;
    text-align: center;

}
#PasswordTitle{
    padding-left: 30%;
    padding-bottom: 20px;

}
#employerButton{

    margin-left: 10px;
}

#studentButton{
    margin-left: 15px;

}
#newUserLink{

    margin-left: 43%;

}
#buttonCreate{
    margin-bottom: 3%;
    margin-left: 49%;

}
#viewCenterPanel{
    margin-left: 35%;
}
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    /*height: 60px;*/
    width: 100%;
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    text-align: center;
}
